<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
  <%- title %>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#468847">
  <meta name="theme-color" content="#468847">

  <meta
      name="google-site-verification"
      content="<%= process.env.GOOGLE_SITE_VERIFICATION %>"
  />

  <style>
    <%- css %>
  </style>

  <script>
    window.__SERIALIZED_INITIAL_STATE__ = '<%- serializedInitialState %>';
  </script>

</head>

<body>
  <div id="app" style="height: 100%;"><%- componentHTML %></div>

  <script src="/scripts/app.js"></script>

  <% if (process.env.NODE_ENV !== 'production') { %>
    <script>
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
      ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
  <% } %>
</body>

</html>
